.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__picture {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__name {
  max-width: 420px;
  margin: 0;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  max-width: 420px;
  margin: 12px 0 0;
  color: #212121b2;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  margin-top: auto;
  padding: 0;
  display: flex;
  gap: 0 8px;
  background-color: transparent;
  border: none;
  color: #212121;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  transition: opacity 0.15s ease;
  opacity: 0.7;
}

.profile__edit-button::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/edit_pencil.svg);
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  margin: auto 0 0 auto;
  display: flex;
  max-width: 157px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  line-height: 1;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  cursor: pointer;
  transition: opacity 0.15s ease;
}

.profile__add-button::before {
  content: "";
  width: 12px;
  height: 12px;
  background: url(../images/newpost_plus.svg) center;
  margin-right: 8px;
}

.profile__add-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    padding: 20px 0 20px;
    max-width: 288px;
    align-items: center;
    text-align: center;
  }

  .profile__picture {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__column {
    align-items: center;
  }

  .profile__name {
    max-width: 288px;
    font-size: 20px;
  }

  .profile__description {
    max-width: 288px;
    margin: 6px 0 32px;
    font-size: 1em;
  }

  .profile__edit-button {
    margin-bottom: 20px;
  }

  .profile__add-button {
    max-width: none;
  }
}
